  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


   @font-face {
    font-family: 'Poppins';
    src: url('../Font/poppins.regular.ttf');
}


a:hover {
  text-decoration: none !important;
}
.ppc-banner-div1{
      background-image: url(../Images/Rectangle.png);
  background-color: #0b232b;
  min-height: 100vh;
  padding-top: 90px;
  /* padding-bottom: 100px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}




/* ####################     Mobile Screen Css Media Queris ####################### */






@media screen and (max-width: 576px) {
    .ppc-banner-div1 {
    padding-top: 160px;
    padding-bottom: 70px;
}

.ppc-banner-img1{
  margin-top: 70px;
}
}